// All Calendar css is namespaced within this parent class.
.calendar-web-widget {

  $calender-border-curve:5px;
  .calendar-outer {
    z-index:999;
    position:absolute;
    visibility:hidden;
    width:280px; // you can override the calender width by setting a width here
    font-family:sans-serif;
    font-size:11px;
    border-width:1px;
    border-style:solid;
    border-color:#395d9c;
    background-color: #F3EFEC;
    -webkit-border-radius: $calender-border-curve;
    -moz-border-radius: $calender-border-curve;
    border-radius: $calender-border-curve;
  }

  .header-button-wrapper{
    display:table;
    width:100%;
    .header-button{
      display:table-cell;
      border-width:0;
      cursor:pointer;
      &.small {
        width:20px;
      }
    }
  }

  .maintable {

  }

  .headerTable{
    width:100%;
    padding:2px;
    font-family:sans-serif;
    font-weight: bold;
    font-size:13px;
    color:#000000;
  }

  .holiday{
    background-color:#FFDDDD;
  }

  .bordered{
    border-style:solid;
    border-width:1px;
    border-color:#a0a0a0;
  }

  .anchor{
    text-decoration:none;
  }

  .innerTable{
    width:100%;
    font-family:sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .today-footer {
    background-color:white;
    -webkit-border-bottom-left-radius: $calender-border-curve;
    -webkit-border-bottom-right-radius: $calender-border-curve;
    -moz-border-bottom-left-radius: $calender-border-curve;
    -moz-border-bottom-right-radius: $calender-border-curve;
    border-bottom-left-radius: $calender-border-curve;
    border-bottom-right-radius: $calender-border-curve;
  }

  .day {
    color:#548cab;
    &.today {
      color:#ff0000;
    }
    &.sunday{
      color:#909090;
    }
    &:hover{
      background-color:#548cab;
      color:white;
    }
  }

  .dropdown {
    font-family:sans-serif;
    font-size:15px;
    border-width:1px;
    border-style:solid;
    border-color:#a0a0a0;
    background-color:white;

    .dropdown-item{
      padding-top:2px;
      &:hover{
        background-color:#cee7ff;
      }
    }
  }

  .month-dropdown {
    width:86px;
  }

  .year-dropdown{
    width:50px;
    .dropdown-item{
      text-align: center;
    }
  }

  .selectMenu{
    z-index:999;
    position:absolute;
    visibility:hidden;
  }

  .close {
    height: 18px;
    width: 17px;
    background-color: #880000;
    text-decoration: none;
    top: 6px;
    right: 6px;
    position: absolute;
    display: block;
  }
  .close:after {
    position: relative;
    content: "\d7";
    font-size: 22px;
    color: white;
    font-weight: bold;
    top: -3px;
    left: -2px;
  }

  .down-arrow {
    border-left: 8px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid #880000;
    cursor: pointer;
    display: inline-block;
  }

  .left-arrow {
    border-top: 6px solid transparent;
    border-right: 8px solid #880000;
    border-bottom: 8px solid transparent;
    cursor: pointer;
    display: inline-block;
    margin-bottom: -2px;
  }

  .right-arrow {
    border-top: 6px solid transparent;
    border-left: 8px solid #880000;
    border-bottom: 8px solid transparent;
    cursor: pointer;
    display: inline-block;
    margin-bottom: -2px;
  }

}